--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: AppointmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AppointmentStatus" AS ENUM (
    'SCHEDULED',
    'INPROGRESS',
    'COMPLETED',
    'CANCELED'
);


ALTER TYPE public."AppointmentStatus" OWNER TO postgres;

--
-- Name: BloodGroup; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BloodGroup" AS ENUM (
    'A_POSITIVE',
    'B_POSITIVE',
    'O_POSITIVE',
    'AB_POSITIVE',
    'A_NEGATIVE',
    'B_NEGATIVE',
    'O_NEGATIVE',
    'AB_NEGATIVE'
);


ALTER TYPE public."BloodGroup" OWNER TO postgres;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE'
);


ALTER TYPE public."Gender" OWNER TO postgres;

--
-- Name: MaritalStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MaritalStatus" AS ENUM (
    'MARRIED',
    'UNMARRIED'
);


ALTER TYPE public."MaritalStatus" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PAID',
    'UNPAID'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'DOCTOR',
    'PATIENT'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'BLOCKED',
    'DELETED'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "profilePhoto" text,
    "contactNumber" text NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.appointments (
    id text NOT NULL,
    "patientId" text NOT NULL,
    "doctorId" text NOT NULL,
    "scheduleId" text NOT NULL,
    "videoCallingId" text NOT NULL,
    status public."AppointmentStatus" DEFAULT 'SCHEDULED'::public."AppointmentStatus" NOT NULL,
    "paymentStatus" public."PaymentStatus" DEFAULT 'UNPAID'::public."PaymentStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.appointments OWNER TO postgres;

--
-- Name: doctorSchedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."doctorSchedule" (
    "doctorId" text NOT NULL,
    "scheduleId" text NOT NULL,
    "isBooked" boolean DEFAULT false NOT NULL,
    "appointmentId" text
);


ALTER TABLE public."doctorSchedule" OWNER TO postgres;

--
-- Name: doctor_specialties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.doctor_specialties (
    "specialtiesId" text NOT NULL,
    "doctorId" text NOT NULL
);


ALTER TABLE public.doctor_specialties OWNER TO postgres;

--
-- Name: doctors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.doctors (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "profilePhoto" text,
    "contactNumber" text NOT NULL,
    address text,
    "registrationNumber" text NOT NULL,
    experience integer DEFAULT 0 NOT NULL,
    gender public."Gender" NOT NULL,
    "appointmentFee" integer NOT NULL,
    qualification text NOT NULL,
    "currentWorkingPlace" text NOT NULL,
    designation text NOT NULL,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.doctors OWNER TO postgres;

--
-- Name: medical_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medical_reports (
    id text NOT NULL,
    "patientId" text NOT NULL,
    "reportName" text NOT NULL,
    "reportLink" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.medical_reports OWNER TO postgres;

--
-- Name: patient_health_dates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patient_health_dates (
    id text NOT NULL,
    "patientId" text NOT NULL,
    gender public."Gender" NOT NULL,
    "dateOfBirth" text NOT NULL,
    "bloodGroup" public."BloodGroup" NOT NULL,
    "hasDiabetes" boolean DEFAULT false,
    height text NOT NULL,
    weight text NOT NULL,
    "smokingStatus" boolean DEFAULT false,
    "dietaryPreferences" text,
    "immunizationStatus" text,
    "hasPastSurgeries" boolean DEFAULT false,
    "recentAnxiety" boolean DEFAULT false,
    "recentDepression" boolean DEFAULT false,
    "maritalStatus" public."MaritalStatus" DEFAULT 'UNMARRIED'::public."MaritalStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "hasAllergies" boolean DEFAULT false,
    "mentalHealthStatus" text,
    "pregnancyStatus" boolean DEFAULT false
);


ALTER TABLE public.patient_health_dates OWNER TO postgres;

--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    "profilePhoto" text,
    "contactNumber" text,
    address text,
    "isDeleted" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schedules (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "endDateTime" timestamp(3) without time zone NOT NULL,
    "startDateTime" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.schedules OWNER TO postgres;

--
-- Name: specialties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.specialties (
    id text NOT NULL,
    title text NOT NULL,
    icon text NOT NULL
);


ALTER TABLE public.specialties OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."UserRole" NOT NULL,
    "needPasswordChange" boolean DEFAULT true NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.appointments (id, "patientId", "doctorId", "scheduleId", "videoCallingId", status, "paymentStatus", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: doctorSchedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."doctorSchedule" ("doctorId", "scheduleId", "isBooked", "appointmentId") FROM stdin;
f3a04ee9-d862-4c1d-950f-5e20287dc013	01K7HBR9817D56J7267RY8B3N6	f	\N
f3a04ee9-d862-4c1d-950f-5e20287dc013	01K7HBR9SMFRYCN9R77VKDTD9Y	f	\N
f3a04ee9-d862-4c1d-950f-5e20287dc013	01K7HBR9SE40P6F0QTH40QZXWC	t	01K9SP2T93T0VXVV432ZWAHXHP
\.


--
-- Data for Name: doctor_specialties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.doctor_specialties ("specialtiesId", "doctorId") FROM stdin;
01K6R0MQXPMGEX448FA14T9QBB	a8e43f8b-d110-4662-a816-1c210a1b78d2
\.


--
-- Data for Name: doctors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medical_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.medical_reports (id, "patientId", "reportName", "reportLink", "createdAt", "updatedAt") FROM stdin;
01K798JFASJQ12AK5MNCYKYT0F	657b971f-4ec2-49c1-87c5-a51f9c0b4730	CBC TEST	link.com/bappy.com	2025-10-11 09:10:33.561	2025-10-11 09:10:33.561
01K798VC5CR0BVKC5EE1T9WNSC	657b971f-4ec2-49c1-87c5-a51f9c0b4730	CBC TEST	link.com/bappy.com	2025-10-11 09:15:25.228	2025-10-11 09:15:25.228
01K798W3RSKKCX9DVYBQFB80TN	657b971f-4ec2-49c1-87c5-a51f9c0b4730	CBC TEST	link.com/bappy.com	2025-10-11 09:15:49.402	2025-10-11 09:15:49.402
\.


--
-- Data for Name: patient_health_dates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patient_health_dates (id, "patientId", gender, "dateOfBirth", "bloodGroup", "hasDiabetes", height, weight, "smokingStatus", "dietaryPreferences", "immunizationStatus", "hasPastSurgeries", "recentAnxiety", "recentDepression", "maritalStatus", "createdAt", "updatedAt", "hasAllergies", "mentalHealthStatus", "pregnancyStatus") FROM stdin;
01K798JF59NE3Z4352NSE70MQQ	657b971f-4ec2-49c1-87c5-a51f9c0b4730	MALE	12-12-20212	A_POSITIVE	f	142cm	55kg	f	\N	\N	f	f	f	UNMARRIED	2025-10-11 09:10:33.385	2025-10-11 09:15:49.4	t	\N	f
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: specialties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.specialties (id, title, icon) FROM stdin;
01K6R0MQXPMGEX448FA14T9QBB	Medicine	https://res.cloudinary.com/dngzfz0cx/image/upload/v1759595086/fratoc2ioqjhc3s0hdci.png
01K6RD0DHR203S68DGXYS6Z6R6	Nak 	https://res.cloudinary.com/dngzfz0cx/image/upload/v1759608052/n6hwrod6oyvrbs7altbk.jpg
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: doctorSchedule doctorSchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."doctorSchedule"
    ADD CONSTRAINT "doctorSchedule_pkey" PRIMARY KEY ("doctorId", "scheduleId");


--
-- Name: doctor_specialties doctor_specialties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctor_specialties
    ADD CONSTRAINT doctor_specialties_pkey PRIMARY KEY ("specialtiesId", "doctorId");


--
-- Name: doctors doctors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_pkey PRIMARY KEY (id);


--
-- Name: medical_reports medical_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medical_reports
    ADD CONSTRAINT medical_reports_pkey PRIMARY KEY (id);


--
-- Name: patient_health_dates patient_health_dates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patient_health_dates
    ADD CONSTRAINT patient_health_dates_pkey PRIMARY KEY (id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: specialties specialties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specialties
    ADD CONSTRAINT specialties_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: admins_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX admins_email_key ON public.admins USING btree (email);


--
-- Name: appointments_scheduleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "appointments_scheduleId_key" ON public.appointments USING btree ("scheduleId");


--
-- Name: doctors_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX doctors_email_key ON public.doctors USING btree (email);


--
-- Name: patient_health_dates_patientId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "patient_health_dates_patientId_key" ON public.patient_health_dates USING btree ("patientId");


--
-- Name: patients_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX patients_email_key ON public.patients USING btree (email);


--
-- Name: patients_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX patients_id_key ON public.patients USING btree (id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: admins admins_email_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_fkey FOREIGN KEY (email) REFERENCES public.users(email) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: appointments appointments_doctorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT "appointments_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES public.doctors(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: appointments appointments_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT "appointments_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public.patients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: appointments appointments_scheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT "appointments_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES public.schedules(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: doctorSchedule doctorSchedule_doctorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."doctorSchedule"
    ADD CONSTRAINT "doctorSchedule_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES public.doctors(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: doctorSchedule doctorSchedule_scheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."doctorSchedule"
    ADD CONSTRAINT "doctorSchedule_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES public.schedules(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: doctor_specialties doctor_specialties_doctorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctor_specialties
    ADD CONSTRAINT "doctor_specialties_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES public.doctors(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: doctor_specialties doctor_specialties_specialtiesId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctor_specialties
    ADD CONSTRAINT "doctor_specialties_specialtiesId_fkey" FOREIGN KEY ("specialtiesId") REFERENCES public.specialties(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: doctors doctors_email_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_email_fkey FOREIGN KEY (email) REFERENCES public.users(email) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: medical_reports medical_reports_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medical_reports
    ADD CONSTRAINT "medical_reports_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public.patients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: patient_health_dates patient_health_dates_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patient_health_dates
    ADD CONSTRAINT "patient_health_dates_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public.patients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: patients patients_email_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_email_fkey FOREIGN KEY (email) REFERENCES public.users(email) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

